@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

body{
    margin: 0px;
    overflow: hidden;
    background-image: url("../_img/sky.jpg");
    background-size: cover;
}

.popin{
    font-family: 'Poppins', sans-serif;
}

#cop{
    color: rgb(60, 72, 109);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.second{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(41, 57, 99);
    padding: 30px 35px;
    border-radius: 10px;
    border: 2px solid rgb(40, 60, 109);
}

.login div h1{
    text-align: center;
    color: rgb(204, 181, 53);
    font-weight: bold;
}

.second form{
    display: flex;
    flex-direction: column;
}

.second form input{
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.second form label{
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.second form input[type="submit"]{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: rgb(204, 181, 53);
    font-weight: 800;
    letter-spacing: 2px;
    box-shadow: 0px 10px 12px -12px rgb(204, 181, 53);
}

.spacing{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.login p{
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
}

.login p a{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(204, 181, 53);
}
.second{
    animation-name: anima;
    animation-duration: 1s;
}

@keyframes anima{
    from{
        opacity: 0;
        transform: scale(0.9);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}