@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

body{
    margin: 0px;
    overflow: hidden;
    background-image: url("../_img/sky.jpg");
    background-size: cover;
}

.popin{
    font-family: 'Poppins', sans-serif;
}

#cop{
    color: rgb(80, 95, 139);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.first-logo{
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.first-logo h2{
    color: white;
    letter-spacing: 5px;
}

.first-logo h2 b{
    border-radius: 5px;
    padding: 3px;
    color: rgb(204, 181, 53);
    font-weight: bold;
}

.first-logo a{
    text-decoration: none;
    color: white;
}

.first-nav{
    margin-right: 100px;
}

.first ul{
    display: flex;
}

.first li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.first li a{
    text-decoration: none;
    padding: 4px 15px 4px 15px;
    color: white;
}

.first li a:hover{
    color: rgb(204, 181, 53);
    transition: 1s;
}

#register{
    color: rgb(109, 109, 109);
}

#register:hover{
    color: rgb(204, 181, 53);
    transition: 1s;
}

.second{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(41, 57, 99);
    padding: 30px 35px;
    border-radius: 10px;
    border: 2px solid rgb(40, 60, 109);
    margin-bottom: 50px;
}

.login div h1{
    text-align: center;
    color: rgb(204, 181, 53);
    font-weight: bold;
}

.second form{
    display: flex;
    flex-direction: column;
}

.second form input{
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.second form label{
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.btn-submit{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;

    background-color: rgb(204, 181, 53);
    font-weight: 800;
    letter-spacing: 2px;
    box-shadow: 0px 10px 12px -12px rgb(204, 181, 53);
}

.spacing{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.login p{
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
}

.login p a{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(204, 181, 53);
}
.second{
    animation-name: anima;
    animation-duration: 1.5s;
}

@keyframes anima{
    from{
        opacity: 0;
        transform: scale(0.6);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

/*REGISTER PAGE*/
.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(41, 57, 99);
    padding: 30px 40px 50px;
    border-radius: 10px;
    border: 2px solid rgb(40, 60, 109);
    margin-bottom: 50px;
}

.space{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.formulario h3{
    color: rgb(204, 181, 53);
}

.btn-create {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: rgb(204, 181, 53);;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    box-shadow: 0px 10px 12px -12px rgb(204, 181, 53);
}